/* Alt */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-headings{
    font-size:1.5rem;
    font-weight: 600;
}

/* Body */
body {
    line-height: 1.6;
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: normal;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    background-color: #9BB2C4;
    color: white;
}

.logo {
    /*------ Font ------*/
    font-size: 2rem;
    font-family: "Parisienne", cursive;
    font-weight: 600;
    font-style: normal;
    padding: 3rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 6rem;
    padding: 3rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #F2F2F0;
    color: #9BB2C4;
    border-radius: 10px;
}

/* Intro */
#intro {
    background-color: #9BB2C4;
    color: #efeae4;
    padding: 2rem;
}

.intro-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* = grid-template-columns: 1fr 1fr 1fr; */
    gap: 2rem;
}

.intro-box {
    position: relative;
}

.intro-img img {
    width: 100%;
    height: auto;
}

.overlay-text {
    display: inline-block;
    transform: rotate(-10deg);
    position: absolute;
    bottom: 7rem;
    left: 14rem;

    /*------ Font ------*/
    font-family: "Babylonica", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 5rem;
}

.intro-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.intro-text p {
    max-width: 80%;
    font-size: 1.1rem;
}

.me3 {
    width: 100%;
    height: auto;
    margin-top: 1rem;
}


/* Om mig */
#about-me {
    background-color: #efeae4;
    padding: 3rem 2rem;
}

.about-me-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: start;
}

.about-me-grid img {
    width: 100%;
}

.about-me-text {
    width: 100%;
    height: auto;
    position: relative; /* Så både billedet og overlay-teksten placeres i forhold til den rigtige boks – ikke hele siden. */
}

.about-me-text p {
    margin-bottom: 1.5rem;
}

.text-block h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.text-block p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.about-me-bt summary{
    font-weight: 500;
}

.about-me-bt{
    background-color: rgba(155, 178, 196, 0.5);
    display: inline-block;
    padding: 0.8rem;
    border-radius: 2rem;
    font-weight: 300;
}

.about-me-bt:hover{
    background-color: rgba(155, 178, 196, 0.7);
    display: inline-block;
    padding: 0.8rem;
    border-radius: 2rem;
}


.overlay-text2 {
    display: inline-block;
    transform: rotate(10deg);
    position: absolute;
    bottom: 90rem; /* placér lidt over bunden */
    right: 1rem;  /* placér lidt fra højre */
    z-index: 10;  /* sørger for at teksten ligger over billedet */
    color: #efeae4;

    font-family: "Babylonica", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 5rem;
}

.imgEK{
    max-width: 50%;  /* gør billedet mindre, så teksten får plads */
    position: absolute;
    bottom: -35rem;
    right: 0;
    z-index: 1; /* ligger under teksten */
}

/*------ CV ------*/
#cv{
    background-color: #9BB2C4;
    padding: 2rem;
    color: #efeae4;
}

.cv-heading{
    display: flex;
    justify-content: center;
    background-color: #9BB2C4;

}
#cv ul {
    background-color: #9BB2C4;
    display: flex;
    list-style-type: none;
    padding: 3rem 3rem;
    gap: 4rem;
}

/*------ Uddannelse ------*/
#education{
    background-color: #efeae4;
    padding: 2rem;
}

.education-text{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.education-fold-out{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    gap: 2rem;
    margin-bottom: 1rem;
}

.education-fold-out details{
    cursor: pointer;
    background: rgba(155, 178, 196, 0.5); /*Gennemsigtig Farve*/
    padding: 1rem;
    display: inline-block;
    border-radius: 2rem;
    flex: 1; /* alle bokse fylder lige meget*/
            /*Hvis du har 3 <details> i en flex-række, så betyder flex: 1;, at hver af dem får præcis en tredjedel af pladsen, uanset hvor meget tekst der står i summary.*/
}

.education-fold-out details:hover {
    background-color: rgba(155, 178, 196, 0.7);
    transition: 0.3s;
}

.education-fold-out details ul{
    list-style-type: none;
}

.education-fold-out details li{
    margin-bottom: 1.5rem;
}


.education-fold-out details[open]{
    display: block;
}

.education-fold-out summary{
    font-weight: 500;
}

.education-fold-out summary p{
    font-weight: 300;
}

/*------ Styrker  ------*/
#strengths{
    background-color: #9BB2C4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: #efeae4;
}

#strengths ul {
    background-color: #9BB2C4;
    list-style-type: none;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;


}
#strengths li{
    font-size: 1rem;
}

#strengths li + li::before {
    content: "•";
    display: block;
    color: #efeae4;
    margin-right: 0.5rem;
}

.overlay-text3 {
    display: inline-block;
    transform: rotate(-10deg);
    position: absolute;
    bottom: -122rem; /* placér lidt over bunden */
    right: 70rem;  /* placér lidt fra højre */
    z-index: 10;  /* sørger for at teksten ligger over billedet */

    font-family: "Babylonica", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 5rem;
}
/*------ Hvorfor vælge mig/ Mål  ------*/
#why-me-goals{
    background-color: #efeae4;
    padding: 2rem;
    display: flex;
    gap: 2rem;
}

.why-me-goals-box{
    background-color: rgba(155, 178, 196, 0.5); /*Gennemsigtig Farve*/
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 2rem;
    flex: 1;
}

.why-me-goals-box:hover{
    background-color: rgba(155, 178, 196, 0.7); /*Gennemsigtig Farve*/
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 2rem;
    flex: 1;
}

/*------ Section.footer ------*/
#contact {
    outline: #efeae4 solid 10px;
    background-color: #9BB2C4;
    color: #efeae4;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#contact ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

#contact li {
    display: flex;
}

#contact img {
    width: 40px;
    height: auto;
}